*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul ,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.wrapper{
height: 525px;
}
.body_list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.cate{
    color: #5E6282;
}
.body_iteam{
    width: 267px;
height: 314px;
top: 1144px;
left: 417px;
gap: 0px;
border-radius: 36px 0px 0px 0px;
opacity: 0px;
text-align: center;
padding: 35px;
}
.body_iteam:hover{
    border-radius: 25px;
    box-shadow: 0px 1.85px 3.15px 0px #00000001;

box-shadow: 3px 8.15px 6.52px 5px #00000002;

box-shadow: 0px 20px 13px 1px #00000003;

box-shadow: 0px 38.52px 25.48px 1px #00000003;

box-shadow: 0px 64.81px 46.85px 1px #00000004;

box-shadow: 0px 100px 80px 1px #00000005;

}