<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="all">
            <div class="num1">
                <h1>Jadoo.</h1>
                <p>Book your trip in minute, get full Control for much longer.</p>
            </div>
            <div class="num2">
                <h3>Company</h3>
                <p>About</p>
                <p>Careers</p>
                <p>AboutMobile</p>
            </div>
            <div class="num3">
                <h3>Contact</h3>
                <p>Help/FAQ</p>
                <p>Press</p>
                <p>Affilates</p>
            </div>
            <div class="num4">
                <h3>More</h3>
                <p>Airlinefees</p>
                <p>Airline</p>
                <p>Low fare tips</p>
            </div>
            <div class="sponsers">
                <div class="follow_us">
                    <div class="circle">
                        <img src="./Facebook Icon.png" alt="">
                    </div>
                    <div class="circle2">
                        <img src="./Group.png" alt="">
                    </div>
                    <div class="circle">
                        <img src="./Vector.png" alt="">
                    </div>
                </div>
                <div class="title">
                    <h1>Discover our app</h1>
                </div>
                <div class="installs">
                    <div class="install">
                        <img src="./google-play 1.png" alt="">
                        <p>GET IT ON BR <br> GOOGLE PLAY</p>
                    </div>
                    <div class="install">
                        <img src="./apple (2) 1.png" alt="">
                        <p>Avalible on the <br> Apple Store</p>
                    </div>
                </div>
            </div><br><br>
            </div>
                <center class="center">
                    <h3>All rights reserved@jadoo.co</h3>
                </center>
    </div>
   
    </div>
</body>
</html> -->