*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.des_iteam{

    height: 10px;
}
.des_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.top{
    color: #5E6282;
}