*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.book_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 600px;
}
.right_list{
    flex-direction: column;
    margin-left: 40px;
}
.left{
    margin-top: 90px;
    margin-right: 40px;
}
.easy{
    color: #5E6282;
}
h1,h3{
    margin-left: -40px;
    margin-bottom: 20px;
}

.right_iteam{
    margin-bottom: 20px;
    text-align: center;
}